(program () 
 (let [[r 1]]
 (let [[s 1]]
  (let [[t 1]]
   (let [[u 1]]
    (let [[v 1]]
     (let [[w 1]]
      (let [[x 1]]
       (let [[y 1]]
        (let [[z 1]] 
         (let [[a 1]]
          (let [[b 1]]
           (let [[c 1]]
            (let [[d 1]]
             (let [[e 1]]
              (let [[f 1]]
               (let [[g 1]]
                (let [[h 1]]
                 (let [[i 1]] 
                   (+ r (+ s (+ t (+ u (+ v (+ w (+ x (+ y (+ z (+ a (+ b (+ c (+ d (+ e (+ f (+ g (+ h (+ i
                   0)))))))))))))))))))))))))))))))))))))
