(program ()
         (let ((x1338 #t))
           (let ((complex-if1346
                  (let ((complex-op1339 (not x1338)))
                    (if complex-op1339
                        (let ((complex-if1342
                               (let ((complex-op1341 (< 4 1)))
                                 (let ((complex-op1340 (not complex-op1341)))
                                   (if complex-op1340 2 0)))))
                          (+ 3 complex-if1342))
                        (let ((complex-if1345 (let ((complex-op1344 (eq? x1338 #t))) (if complex-op1344 4 2))))
                          (let ((complex-op1343 (- complex-if1345)))
                            (+ 46 complex-op1343)))))))
             complex-if1346)))
